* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Cinzel', serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
}



a {
    text-decoration: none;
}


section {
    padding: 5.5rem 0;
   
}

img {
    max-width: 100%;
    max-height: 100%;
}

.liste {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #EEE;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .logo {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    letter-spacing: 2px;
}

.social .icon {
    width: 25px;
    height: 25px;
}


.social a {
    padding: 4px;
}


.header li {
    display: inline-flex;
    align-items: center;
    padding: 0 .5rem;

}

.header a {
    color: black;
}

@media screen and (max-width: 768px) {
    .header .navbar {
      display: none;
    }
  
    .header .right {
      justify-content: flex-end;
    }
  
    .burger {
      display: block;
    }
  
    /* Ajoutez d'autres règles CSS spécifiques aux petits écrans ici */
  }
  
  /* Règles CSS pour les écrans d'une largeur maximale de 480 pixels */
  @media screen and (max-width: 480px) {
    .header .logo {
      font-size: 3rem;
    }
  
    /* Ajoutez d'autres règles CSS spécifiques aux écrans mobiles ici */
  }
  
  /* Règles CSS pour la section "avatar" */
  @media screen and (max-width: 768px) {
    #avatar .grid {
      flex-direction: column;
    }
  
    /* Ajoutez d'autres règles CSS spécifiques à la section "avatar" sur les petits écrans ici */
  }
  
  /* Règles CSS pour la grille de cartes */
  @media screen and (max-width: 768px) {
    .grid .shekil {
      width: 100%;
    }
  
    /* Ajoutez d'autres règles CSS spécifiques à la grille de cartes sur les petits écrans ici */
  }
  
  /* Règles CSS pour le pied de page */
  @media screen and (max-width: 768px) {
    .footer .logo_footer {
      font-size: 3rem;
    }
  
    /* Ajoutez d'autres règles CSS spécifiques au pied de page sur les petits écrans ici */
  }
  

.header .right {
    display: flex;
    align-items: center;
}

.container {
    padding: 1rem 2rem;
}


.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.grid_item {
    width: 50%;
    padding: 2rem;

}

#avatar {
    background-image: url(https://ogtayaliyev.github.io/shahlacakestore/yupi.jpg);
    background-size: cover;
    background-position: center;
     font-weight: bolder;
     font-size: 2rem;
    color: #0f0f0f;
    padding: 1rem 0 0 0;

}



.avatar .title {
    color: inherit;
    font-size: 4rem;
    margin: 1.6rem 0 0 0;
    font-weight: 700;
}

.avatar_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar_item span {
    text-transform: uppercase;
}

.avatar_item.left {
    animation-duration: 1s;
    animation-name: slideInleft;
}

.avatar_item.right {
    animation-duration: 1s;
    animation-name: slideInRight;
}

.shahla {
    flex: 2 0 50%;
}

.burger {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin: 2rem;
}

.burger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #2906f0;


}

.burger .bar::before,
.burger .bar::after {
    display: block;
    content: "";
    width: 25px;
    height: 3px;
    background: #1049b3;
    position: absolute;

}

.burger .bar::before {
    transform: translateY(-8px);
}

.burger .bar::after {
    transform: translateY(8px);
}

.shekil {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 2px;

}

.card {
    background: #FFF;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    border: 1px solid #EEE;
    overflow: hidden;
  }
  
  .card__inner {
    padding: 2rem;
  }
  
  .card__title {
    margin: 0 0 1rem;
    font-size: 1.6rem;
  }
  
  .card__overlay{display: none;}



  .logo_footer{
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    letter-spacing: 2px;

  }
